@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');

* {
    font-family: "Geologica";
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gif-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#anime-gif {
    max-width: 90%;
    height: auto;
    margin-top: 15px;
}

.select-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}